<h1>My Portfolio</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ticker</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.name %></td>
        <td><%= stock.ticker %></td>
        <td><%= number_to_currency(stock.price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Home', trader_home_path %>
<%= link_to 'Stocks', stocks_path %>
