<h1>My Portfolio</h1>
<h4><%= current_user.email %></h4>
<%= link_to 'Home', trader_home_path %> <br>
<%= link_to 'Stocks', stocks_path %>

<p>Current Balance: <%= number_to_currency(current_user.balance) %></p>

<% if notice %>
    <p class="notice"><%= notice %></p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ticker</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <% user_stock = current_user.user_stocks.find_by(stock: stock) %>
      <tr>
        <td><%= stock.name %></td>
        <td><%= stock.ticker %></td>
        <td><%= number_to_currency(stock.price) %></td>
        <td><%= user_stock.quantity %></td>
        <td>
          <%= form_with url: buy_user_stocks_path(stock_id: stock.id), method: :post, local: true do |form| %>
            <%= form.number_field :quantity, value: 1, min: 1 %>
            <%= form.submit 'Buy' %>
          <% end %>

          <%= form_with url: sell_user_stocks_path(stock_id: stock.id), method: :post, local: true do |form| %>
            <%= form.number_field :quantity, value: 1, min: 1, max: user_stock ? user_stock.quantity : 0 %>
            <%= form.submit 'Sell' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
