<h1>Welcome Admin!</h1>


<h2>Users</h2>
<%= link_to 'New User', new_admin_user_path %><br>
<%= link_to 'Pending Users', pending_users_admin_users_path	 %>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>User Type</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      
        <tr>
          <td><%= user.email %></td>
          <td><%= user.user_type %></td>
          <td><%= link_to 'Details', admin_user_path(user) %></td>
          <td><%= button_to 'Delete', admin_user_path(user), method: :delete %></td>
        </tr>
      
    <% end %>
  </tbody>
</table>

<%= button_to 'Logout', destroy_user_session_path, method: :delete %>

