<h1>Welcome Admin!</h1>

<%= button_to 'Logout', destroy_user_session_path, method: :delete %>

<h2>Users</h2>
<%= link_to 'New User', new_admin_user_path %><br>
<%= link_to 'Pending Users', pending_users_admin_users_path	 %>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>User Type</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      
        <tr>
          <td><%= user.email %></td>
          <td><%= user.user_type %></td>
          <td><%= link_to 'Details', admin_user_path(user) %></td>
          <td><%= button_to 'Delete', admin_user_path(user), method: :delete %></td>
        </tr>
      
    <% end %>
  </tbody>
</table>

<h3>Transactions of Users</h3>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>User</th>
      <th>Stock</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= transaction.user.email %></td>
        <td><%= transaction.stock.name %></td>
        <td><%= transaction.transaction_type.capitalize %></td>
        <td><%= transaction.quantity %></td>
        <td><%= number_to_currency(transaction.price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>



